<h1 class="text-3xl font-bold font-montserrat ml-2.5 sm:ml-0">
  Productos
</h1>
<h2 class="text-xl mb-5 ml-3 sm:ml-0">Buscados por: "{{ searchQuery() }}"</h2>

@if (productsResource.isLoading()) {
<h1 class="text-2xl text-center mt-10">Loading<span class="loading loading-dots loading-xl"></span></h1>
}
<!--  -->
@if (productsResource.error()) {
<h1 class="text-2xl text-center">Error</h1>
<p> {{ productsResource.error() | json }} </p>
}
<!--  -->
@if (productsResource.hasValue()) {

<h2 class="text-xl mb-5 ml-3 sm:ml-0">Resultados: "{{ productsResource.value()?.resultados ?? 0 }}"</h2>
<app-products-list [products]="productsResource.value()?.productos ?? []" />

}
