<div class="card bg-base-100 shadow-sm mx-2 sm:mx-0 animate-fadeIn transition-transform hover:scale-[1.02] hover:shadow-lg h-full
">
  <figure>
    @if (product()?.imagen) {
      <img class="h-72 sm:h-auto w-full object-cover" [src]="'data:image/png;base64,' + product()?.imagen"
      [alt]="product()?.nombre ?? 'Sin nombre'" />
    }
    @else {
      <img class="h-72 sm:h-auto w-full object-cover" [src]="'placeholder.png'"
      [alt]="product()?.nombre ?? 'Sin nombre'" />
    }
  </figure>
  <div class="card-body pt-4">
    <h2 class="card-title font-montserrat text-primary">
      {{ product()?.nombre ?? 'Sin nombre' }}
    </h2>
    <p>{{ product()?.descripcion ?? 'Sin descripcion' | slice : 0 :
      100 }}</p>
    <div class="card-actions justify-end mt-4">
      <div class="badge badge-outline">
        {{ product()?.categoria_nombre ?? 'Sin categoria' }}
      </div>
      <div class="badge badge-neutral">
        {{ product()?.stock ?? 'Sin stock' }}
      </div>
      <div class="badge badge-primary">
        {{ product()?.precio ?? 'Sin precio' }}
      </div>
    </div>
  </div>
</div>
